{% extends 'base.html' %}
{% block title %}Adicionar categoria{% endblock %}
{% block content %}
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <h3>Adicionar categoria</h3>
                <form action="/admin/addCategory" method="POST">
                    <label>Nome</label><br/>
                    <input class="form-control" type="text" name="category_name"><br/>
                    <input type="submit" class="btn btn-dark btn-lg" value="Adicionar">
                </form>
            </div>
        </section>
        <!-- Related items section-->
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                
            </div>
        </section>
        {% endblock %}
