{% extends 'base.html' %}
{% block title %}Adicionar fornecedor{% endblock %}
{% block content %}
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <h3>Adicionar fornecedor</h3>
                <form action="/admin/addProvider" method="POST">
                    <label>Primeiro nome</label><br/>
                    <input class="form-control" type="text" name="provider_name"><br/>
                    <label>Segundo nome</label><br/>
                    <input class="form-control" type="text" name="provider_second_name"><br/>
                    <label>Numero do Documento</label><br/>
                    <input class="form-control" type="text" name="provider_document_number"><br/>
                    <label>Tipo do Documento</label><br/>
                    <select class="form-control" name="provider_document_type">
                        <option>B.I</option>
                        <option>NUIT</option>
                    </select><br/>
                    <label>Telefone 1</label><br/>
                    <input class="form-control" type="text" name="provider_cellphone1"><br/>
                    <label>Telefone 2</label><br/>
                    <input class="form-control" type="text" name="provider_cellphone2"><br/>
                    <label>Email</label><br/>
                    <input class="form-control" type="text" name="provider_email"><br/>
                    <label>Provincia</label><br/>
                    <input class="form-control" type="text" name="provider_province"><br/>
                    <label>Distrito</label><br/>
                    <input class="form-control" type="text" name="provider_city"><br/>
                    <label>Quarteirão</label><br/>
                    <input class="form-control" type="text" name="provider_quart"><br/>
                    <label>Bairro</label><br/>
                    <input class="form-control" type="text" name="provider_district"><br/>
                    <label>Rua</label><br/>
                    <input class="form-control" type="text" name="provider_street"><br/>
                    <input type="submit" class="btn btn-dark btn-lg" value="Adicionar">
                </form>
            </div>
        </section>
        <!-- Related items section-->
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                
            </div>
        </section>
        {% endblock %}
