{% extends 'base.html' %}
{% block title %}Painel administrativo{% endblock %}
{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Painel Administrativo</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Gerencie a Make It Yours</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/admin/providers">Fornecedores</a></div>
                            </div>
                    </div>
                    <div class="col mb-5">
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/admin/categories">Categorias</a></div>
                            </div>
                    </div>
                    <div class="col mb-5">
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/admin/products">Produtos</a></div>
                            </div>
                    </div>
                    
                </div>
            </div>
        </section>
        {% endblock %}
