{% extends 'base.html' %}
{% block title %}Editar produto{% endblock %}
{% block content %}
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <h3>Editar o produto {{ product.P_nome }}</h3>
                <form action="/admin/editProduct" method="POST" enctype="multipart/form-data">
                    <input class="form-control" type="hidden" name="product_id" value="{{ product.Produto_ID }}">
                    <label>Nome do produto</label><br/>
                    <input class="form-control" type="text" name="product_name" value="{{ product.P_nome }}"><br/>
                    <label>Fornecedor</label><br/>
                    <select class="form-control" name="provider_name">
                        {% for provider in providers %}
                            <option>{{ provider.F_Primeiro_Nome }}</option>
                        {% endfor %}
                    </select><br/>
                    <label>Categoria</label><br/>
                    <select class="form-control" name="category_name">
                        {% for category in categories %}
                            <option>{{ category.C_Nome }}</option>
                        {% endfor %}
                    </select><br/>
                    <label>Marca</label><br/>
                    <input class="form-control" type="text" name="product_brand" value="{{ product.P_Marca }}"><br/>
                    <label>Modelo</label><br/>
                    <input class="form-control" type="text" name="product_model" value="{{ product.P_Modelo }}"><br/>
                    <label>Valor Unitário</label><br/>
                    <input class="form-control" type="text" name="product_price" value="{{ product.P_ValorUnitario }}"><br/>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Foto</span>
                        </div>
                        <div class="custom-file">
                          <input type="file" name=file class="custom-file-input" id="inputGroupFile01">
                        </div>
                    </div>

                    <input type="submit" class="btn btn-dark btn-lg" value="Adicionar">
                </form>
            </div>
        </section>
        <!-- Related items section-->
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                
            </div>
        </section>
        {% endblock %}
