{% extends 'base.html' %}
{% block title %}Editar fornecedor{% endblock %}
{% block content %}
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <h3>Editar o fornecedor {{ provider.F_Primeiro_Nome }}</h3>
                <form action="/admin/editProvider" method="POST">
                    <input class="form-control" type="hidden" name="provider_id" value="{{ provider.Fornecedor_ID }}">
                    <label>Primeiro nome</label><br/>
                    <input class="form-control" type="text" name="provider_name" value="{{ provider.F_Primeiro_Nome }}"><br/>
                    <label>Segundo nome</label><br/>
                    <input class="form-control" type="text" name="provider_second_name" value="{{ provider.F_Segundo_Nome }}"><br/>
                    <label>Numero do Documento</label><br/>
                    <input class="form-control" type="text" name="provider_document_number" value="{{ provider.F_Num_Documento }}"><br/>
                    <label>Tipo do Documento</label><br/>
                    <select class="form-control" name="provider_document_type">
                        <option>B.I</option>
                        <option>NUIT</option>
                    </select><br/>
                    <label>Telefone 1</label><br/>
                    <input class="form-control" type="text" name="provider_cellphone1" value="{{ provider.F_Telefone_1 }}"><br/>
                    <label>Telefone 2</label><br/>
                    <input class="form-control" type="text" name="provider_cellphone2" value="{{ provider.F_Telefone_2 }}"><br/>
                    <label>Email</label><br/>
                    <input class="form-control" type="text" name="provider_email" value="{{ provider.F_Email }}"><br/>
                    <label>Provincia</label><br/>
                    <input class="form-control" type="text" name="provider_province" value="{{ provider.F_Provincia }}"><br/>
                    <label>Distrito</label><br/>
                    <input class="form-control" type="text" name="provider_city" value="{{ provider.F_Distrito }}"><br/>
                    <label>Quarteirão</label><br/>
                    <input class="form-control" type="text" name="provider_quart" value="{{ provider.F_Quarteirao }}"><br/>
                    <label>Bairro</label><br/>
                    <input class="form-control" type="text" name="provider_district" value="{{ provider.F_Bairro }}"><br/>
                    <label>Rua</label><br/>
                    <input class="form-control" type="text" name="provider_street" value="{{ provider.F_Rua }}"><br/>
                    <input type="submit" class="btn btn-dark btn-lg" value="Editar">
                </form>
            </div>
        </section>
        <!-- Related items section-->
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                
            </div>
        </section>
        {% endblock %}
