{% extends 'base.html' %}
{% block title %}Editar categoria{% endblock %}
{% block content %}
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <h3>Editar a categoria {{ category.C_Nome }}</h3>
                <form action="/admin/editCategory" method="POST">
                    <label>Nome</label><br/>
                    <input type="hidden" name="category_id" value="{{ category.Categoria_ID }}">
                    <input class="form-control" type="text" name="category_name" value="{{ category.C_Nome }}"><br/>
                    <input type="submit" class="btn btn-dark btn-lg" value="Editar">
                </form>
            </div>
        </section>
        <!-- Related items section-->
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                
            </div>
        </section>
        {% endblock %}
