{% extends 'base.html' %}
{% block title %}Pedidos{% endblock %}
{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Make It Yours</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Pedidos.</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for order in orders %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="./uploads/products/{{ products[orders.index(order)].P_Imagem }}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ products[orders.index(order)].P_nome }}</h5>
                                    <h6 class=""><b>Marca:</b> {{ products[orders.index(order)].P_Marca }}</h6>
                                    <h6 class=""><b>Modelo:</b> {{ products[orders.index(order)].P_Modelo }}</h6>
                                    <h6 class=""><b>Quantidade:</b> {{ order.Quantidade }}</h6>
                                    <!-- Product price-->
                                    Valor: R$ {{ order.Total_A_Pagar }}
                                </div>
                            </div>

                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </section>
        {% endblock %}
