{% extends 'base.html' %}
{% block title %}Fornecedores{% endblock %}
{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Make It Yours</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Gerencie seus fornecedores.</p>
                    <a href="/admin/addProvider">Adicionar</a>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-7 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for provider in providers %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Provider details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Provider name-->
                                    <h5 class="fw-bolder">{{ provider.F_Primeiro_Nome }} {{ provider.F_Segundo_Nome }}</h5>
                                    <h6 class="">{{ provider.F_Tipo_Documento }} - {{ provider.F_Num_Documento }}</h6>
                                    <h6 class="">Telefones: {{ provider.F_Telefone_1 }} - {{ provider.F_Telefone_2 }}</h6>
                                    <h6 class=""> Email: {{ provider.F_Email }}</h6>
                                    <h6 class="">{{ provider.F_Provincia }}, {{ provider.F_Distrito }}, {{ provider.F_Bairro }}, {{ provider.F_Quarteirao }}, {{ provider.F_Rua }}</h6>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto" href="{{ url_for('main.deleteProvider', id = provider.Fornecedor_ID) }}">Apagar</a>
                                    <a class="btn btn-outline-dark mt-auto" href="{{ url_for('main.editProvider', id = provider.Fornecedor_ID) }}">Editar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </section>
        {% endblock %}
